<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="headFragment">
<title>eIoT Portal</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Expires" content="-1"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/style.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/scripts/ol/ol.css}" />

<script type="text/javascript" th:src="@{/scripts/jquery.1.11.2.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/datetimepicker.moment.js}"></script>
<script type="text/javascript" th:src="@{/scripts/datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/scripts/placeholders.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/ui_common.js}"></script>
<script type="text/javascript" th:src="@{/scripts/ol/ol.js}"></script>
<script type="text/javascript" th:src="@{/scripts/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/jquery.treeTable.js}"></script>

<script th:inline="javascript">


</script>
</head>
</html>
